html,
body {
  height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: Open Sans, Arial, Helvetica, sans-serif;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.subtitulo {
  text-transform: uppercase;
  display: inline-block;
}

.subtitulo::after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #468ffd;
  margin-top: 8px;
}
